@model CalculatorCode.Models.PasswordStrengthCalculator

@{
    ViewData["Title"] = "PasswordStrength";

    String algorithmCode = ViewBag.Code;
}


@*@foreach(KeyValuePair<Char, int> pair in Model.SymbolsFrequency)
{
    <p>Character @pair.Key : @pair.Value</p>
}*@
    <body>

        @using (Html.BeginForm())
        {
            @Html.EditorFor(model => model.PasswordInput)
            <span> <br /> </span>
            <input type="submit" class="btn btn-success" />
            <span> <br /> </span>
            <h3>Character frequency: </h3>
            <p style="word-wrap: break-word ">
                @Html.DisplayFor(model => model.SymbolsFrequency)
            </p>
            <h3>Number of combinations</h3>
            <p>@Html.DisplayFor(model => model.NumberOfCombinations)</p>


        }
    </body>

