
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";

    SortedList<String, String> MathCalculators = new SortedList<String, String>();
    MathCalculators.Add("Simple Calculator", "SimpleCalculator");
    MathCalculators.Add("Circle Circumferance From Radius Calculator", "CircleCircumferenceRadius");
    MathCalculators.Add("Circle Circumferance From Diameter Calculator", "CircleCircumferenceDiameter");
    MathCalculators.Add("Percentage Calculator", "PercentageCalculator");
    MathCalculators.Add("GCD and LCM Calculator", "GCDandLCMCalculator");
    MathCalculators.Add("Combinations Calculator", "CombinationsCalculator");
    MathCalculators.Add("Permuations Calculator", "PermutationsCalculator");
    MathCalculators.Add("Fractions Calculator", "FractionCalculator");

    SortedList<String, String> ComputingCalculators = new SortedList<String, String>();
    ComputingCalculators.Add("Binary Calculator", "BinaryCalculator");
    ComputingCalculators.Add("Hex Calculator", "HexCalculator");
    ComputingCalculators.Add("Octal Calculator", "OctalCalculator");
    ComputingCalculators.Add("Ping Time Calculator", "PingCalculator");
    ComputingCalculators.Add("Information Calculator", "InformationCalculator");
    ComputingCalculators.Add("Password Strength Calculator", "PasswordStrengthCalculator");

    SortedList<String, String> FinanceCalculators = new SortedList<String, String>();
    FinanceCalculators.Add("Compound Interest Calculator", "CompoundInterestCalculator");
    FinanceCalculators.Add("Simple Interest Calculator", "SimpleInterestCalculator");

    SortedList<String, String> TimeCalculators = new SortedList<String, String>();
    TimeCalculators.Add("Cat Years Calcuator", "CatYearsCalculator");
    TimeCalculators.Add("Dog Years Calculator", "DogYearsCalculator");
    TimeCalculators.Add("Date Time Calculator", "TimeCalculator");
    TimeCalculators.Add("Age Calculator", "AgeCalculator");
    TimeCalculators.Add("Time Calculator", "TimeCalculator");

    int TotalCalculators = FinanceCalculators.Count +
                        TimeCalculators.Count +
                        ComputingCalculators.Count +
                        MathCalculators.Count;

}

<h4> Available: @TotalCalculators</h4>

<!-- Add each list to own column in Div-->
<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <h3>
                    Math Calculators
                </h3>
            </td>
        </tr>
        @foreach (KeyValuePair<String, String> calcNameAndController in MathCalculators)
        {
            <tr class="calculatorLink">
                <td>
                    @Html.ActionLink(calcNameAndController.Key, "Index", calcNameAndController.Value)
                </td>
            </tr>

        }

        <tr>
            <td>
                <h3>
                    Computing Calculators
                </h3>
            </td>
        </tr>
        @foreach (KeyValuePair<String, String> calcNameAndController in ComputingCalculators)
        {
            <tr class="calculatorLink">
                <td>
                    @Html.ActionLink(calcNameAndController.Key, "Index", calcNameAndController.Value)
                </td>
            </tr>

        }

        <tr>
            <td>
                <h3>
                    Time Calculators
                </h3>
            </td>
        </tr>
        @foreach (KeyValuePair<String, String> calcNameAndController in TimeCalculators)
        {
            <tr class="calculatorLink">
                <td>
                    @Html.ActionLink(calcNameAndController.Key, "Index", calcNameAndController.Value)
                </td>
            </tr>

        }

        <tr>
            <td>
                <h3>
                    Finance Calculators
                </h3>
            </td>
        </tr>
        @foreach (KeyValuePair<String, String> calcNameAndController in FinanceCalculators)
        {
            <tr class="calculatorLink">
                <td>
                    @Html.ActionLink(calcNameAndController.Key, "Index", calcNameAndController.Value)
                </td>
            </tr>

        }

    </tbody>

</table>