@model IEnumerable<CalculatorCode.Models.AllCalculators>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    SortedList<String, String> CalculatorList = new SortedList<String, String>();
    CalculatorList.Add("Date Time Calculator", "TimeCalculator");
    CalculatorList.Add("Simple Calculator", "SimpleCalculator");
    CalculatorList.Add("Circle Circumferance From Radius Calculator", "CircleCircumferenceRadius");
    CalculatorList.Add("Circle Circumferance From Diameter Calculator", "CircleCircumferenceDiameter");
    CalculatorList.Add("Binary Calculator", "BinaryCalculator");
}
<h2>Select Calculator</h2>

<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (KeyValuePair<String, String> calcNameAndController in CalculatorList)
        {
            <tr>
                <td>
                    @Html.ActionLink(calcNameAndController.Key, "Index", calcNameAndController.Value)
                </td>
            </tr>
            
        }
    @*</tbody>

        <tbody>
            <tr>
                <td>
                    @Html.ActionLink("Date-time Calculator", "Index", "TimeCalculator")
                </td>

            </tr>
            <tr>
                <td>
                    @Html.ActionLink("Simple Calculator", "Index", "SimpleCalculator")
                </td>
            </tr>
            <tr>
                <td>
                    @Html.ActionLink("Circle Circumferance From Radius Calculator", "Index", "CircleCircumferenceRadius")
                </td>
            </tr>
            <tr>
                <td>
                    @Html.ActionLink("Circle Circumferance From Diameter Calculator", "Index", "CircleCircumferenceDiameter")
                </td>
            </tr>
            <tr>
                <td>
                    @Html.ActionLink("Binary Calculator", "Index", "BinaryCalculator")
                </td>
            </tr>*@
